body, html {
    margin: 0;
    padding: 0;
    height: 100%;
   overflow: hidden;
   font-family: "Noto Sans TC", "sans-serif"; 
   color: white;
   text-align: center;
   align-items: center;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-shadow: 0 0 10px #000;
}
#main-menu {
    z-index: 1;
}
.game-box {
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid white;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    cursor: pointer; 
    transition: transform 0.3s ease, background 0.3s ease;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.game-box:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.25);
}

.box-img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

/* 用於隱藏 */
.hidden {
    display: none;
}

/* 模式選擇區塊 */
#mode-menu {
    display: flex;
    justify-content: center;
    gap: 180px;
}
.mode-box {
    width: 250px;
    height: 250px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.3s ease;
}
.mode-box.show {
    opacity: 1;
    transform: scale(1);
}
.mode-box img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
.mode-box p {
    margin-top: 10px;
    font-size: 1.3em;
}
.mode-box:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.25);
}
a {
    text-decoration: none; /*去掉文字底線*/
    color: inherit; /*保持文字原來顏色*/
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    #mode-menu {
        gap: 50px;
    }
    .mode-box {
        width: 180px;
        height: 180px;
    }
    .mode-box img {
        width: 120px;
        height: 120px;
    }
}
